html {
  font-size: 70%;
  height: 100%;
  
}


.nav-active {
  color: black!important;
  font-weight: 300!important;
}

.nav-active-dark {
  color: white!important;
  font-weight: 300!important;
}

.work-nav-active {
  font-weight: 800!important;
}


.light-mode {
  background-color: #fff;
  color: #494949;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  float: left;
  position: relative;
  padding: 40px;
  transition: 0.3s linear all;
}

.light-mode a {
  color: #C4C4C4;
}

.light-mode a:hover {
  color: #494949;
}

.light-mode path {
  fill: #000000;
}

.dark-mode {
  background-color: #1a1919;
  color: #9e9e9e;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  float: left;
  position: relative;
  padding: 40px;
  transition: 0.3s linear all;
}

.dark-mode a {
  color: #616060;
}

.dark-mode a:hover {
  color: #dfdfdf;
}

.dark-mode path {
  fill: #dfdfdf;
}



a.nav-link {
  font-weight: 200;
  text-transform: uppercase;
}

a.nav-link:hover {
  font-weight: 400;
}



.next-project-container {
  width: 100%;
  float: right;
  position: relative;
}

.next-poject {
  display: flex;
  float: right;
  align-items: center;
}

.right-arrow {
  margin-left: 20px;
}



h1 {
  font-family: 'Work Sans', sans-serif;
  font-size: 3.6rem;
  font-weight: 100;
}

h2 {
  font-size: 3.6rem;
  line-height: 120%;
}

h2, h3, h4, h5, h6 {
  font-family: 'Anton', sans-serif;
}

p {
  font-size: 3rem;
  line-height: 120%;
  font-weight: 100;
}

a {
  text-decoration: none;
}

.bold-text {
  font-weight: 300;
  margin-bottom: 20px;
}

.exp-text {
  font-size: 2.4rem;
}

img {
  width: 100%;
}

video.video-react-video {
  width: 100%;
}

button.video-react-big-play-button.video-react-big-play-button-left.big-play-button-hide {
  display: none;
}

.header {
  width: 100%;
  float: left;
}

.logo {
  width: 33.33%;
  width: calc(100% / 3);
  position: fixed;
  top: 40px;
  height: 40px;
  display: flex;
  align-items: center;
}

.light {
  width: 66.666%;
  width: calc( 100% * 2/3);
  position: relative;
  float: right;
  height: 40px;
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

.light-link {
  float: right;
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 2.4rem;
}

.light-img {
  margin-left: 5px;
}


.nav {
  width: 33.33%;
  width: calc(100% / 3);
  top: 125px;
  padding-right: 80px;
  position: fixed;
}

.work-nav {
  width: 33.33%;
  width: calc(100% / 3);
  top: 320px;
  position: fixed;
}



.container {
  padding-top: 40px;
  width: 66.666%;
  width: calc( 100% * 2/3);
  position: relative;
  float: right;
}

.about-text {
  width: 55%;
  padding-bottom: 40px;
}



.full-col {
  width: 100%;
  position: relative;
  float: left;
  padding-bottom: 40px;
}

.two-col-left {
  width: 50%;
  float: left;
  padding-right: 20px;
  padding-bottom: 40px;
}
.two-col-right {
  width: 50%;
  float: left;
  padding-left: 20px;
  padding-bottom: 40px;
}

.three-col-left {
  width: 33.33%;
  width: calc(100% / 3);
  float: left;
  padding-right: 26.6px;
  padding-bottom: 40px;
}
.three-col-mid {
  width: 33.33%;
  width: calc(100% / 3);
  float: left;
  padding-left: 13.3px;
  padding-right: 13.3px;
  padding-bottom: 40px;
}
.three-col-right {
  width: 33.33%;
  width: calc(100% / 3);
  float: right;
  padding-left: 26.6px;
  padding-bottom: 40px;
}


.work-text-left {
  width: calc(50% - 20px);
  float: left;
}

.work-text-right {
  width: calc(50% - 20px);
  float: right;
}

.work-text-left p {
  font-size: 2.4rem;
}

.work-text-right p {
  font-size: 2.4rem;
}

.skills-text {
  font-size: 3.6rem;
}


.footer {
  width: 33.33%;
  width: calc(100% / 3);
  position: fixed;
  bottom: 40px;
  left: 40px;
}

.footer-text {
  font-size:2rem;
  font-weight: 400;
}

.mail-me {
  padding-bottom: 20px;
}

a.mail-me-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 2.4rem;
}

.mail-img {
  margin-right: 10px;
}

@media (max-width: 1280px) {
  
  html {
    font-size: 62.5%;
    height: 100%;
  }

}

@media (max-width: 1024px) {
  
  html {
    font-size: 52%;
    height: 100%;
  }

  .about-text {
    width: 75%;
  }

  .work-text-left {
    width: 75%;
  }
  
  .work-text-right {
    width: 75%;
  }

}

@media (max-width: 900px) {
  
  .about-text {
    width: 85%;
  }

  .work-text-left {
    width: 85%;
  }
  
  .work-text-right {
    width: 85%;
  }

}

@media (max-width: 768px) {

  .logo {
    width: 66.666%;
    width: calc( 100% * 2/3);
    position: relative;
    float: left;
    top: 10px;
  }
  
  .light {
    width: 33.33%;
    width: calc(100% / 3);
    position: relative;
    float: right;
    top: 10px;
  }

  .light-mode {
    padding: 20px;
  }

  .dark-mode {
    padding: 20px;
  }

  .nav {
    float: left;
    width: 100%;
    padding-top: 40px;
    padding-right: 0px;
    top: 0;
    position: relative;
  }
  
  .work-nav {
    width: 100%;
    top: 0px;
    float: left;
    padding-top: 40px;
    position: relative;
  }


  
  .container {
    padding-top: 40px;
    width: 100%;
    position: relative;
    float: right;
  }

  .about-text {
    width: 95%;
  }


  .work-text-left {
    width: 95%;
  }
  
  .work-text-right {
    width: 95%;
    float: left;
  }


  .two-col-left {
    width: 100%;
    padding-right: 0px;
  }
  .two-col-right {
    width: 100%;
    padding-left: 0px;
  }
  
  .three-col-left {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }
  .three-col-mid {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }
  .three-col-right {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }
  


  .footer {
    width: 100%;
    padding-top: 80px;
    position: relative;
    bottom: 0px;
    left: 0px;
    float: left;
  }
  
  .footer-text {
    font-size:2rem;
    font-weight: 400;
  }
  
  .mail-me {
    float: left;
    width: 100%;
    padding-bottom: 20px;
  }
  
  a.mail-me-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 2.4rem;
  }
  
  .mail-img {
    margin-right: 10px;
  }

}